/* cdn
font - no more 3

 */

/* resetting rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0e2c5;
  background: linear-gradient(
    to bottom,
    #e6e6e4,
    #fbf8f6,
    #f0e2c5,
    #f0e2c5,
    #fbf8f6,
    #fbf8f6
  );
  /* background: radial-gradient(); */
  color: #49281a;
}

/* header section */
header {
  border: 0px solid #f0e2c5;
  /* background: #f0e2c5; */
  width: 100%;
  margin: 0 auto;
  padding: 170px 0 132px 0;
  text-align: center;
}

header h1 {
  font-family: "Playfair Display 5C", serif;
  font-size: 3.2em;
  text-transform: uppercase;
  text-shadow: 4px 0px 4px gray;
  /* animation */
  animation: animated-bar 2s ease;
}

/* nav bar animation */
@keyframes animated-bar {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

header p {
  font-family: "Lato";
  margin: 20px 0 60px;
}

header a {
  display: inline-block;
  font-family: "Lato", sans-serif;
  background-color: #49281a;
  color: #e6e6e4;
  padding: 20px 50px;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.3s ease 0s;

  /* animation */
  animation: animated-btn 2s ease 0s 1;
}

/* transition when pointer over the explore menu*/
header a:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #e67e00; /* slightly brighter/darker */
}

/* animation for explore menu btn */
@keyframes animated-btn {
  0% {
    transform: translateY(-1200px);
    opacity: 0;
  }

  80% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* background images for header section */
#header {
  background-image: url(images/header-bg-1.png), url(images/header-bg-3.png),
    url(images/header-bg-2.png);
  background-size: contain, contain, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom left, bottom right, bottom center;
}

/* nav section */
nav {
  border: 2px solid #49281a;
  font-family: "Lato", sans-serif;
  background-color: #49281a;
  padding: 30px 0;
  text-align: center;

  /* postion sticky */
  position: sticky;
  top: 0;
  z-index: 99999;
}

nav a {
  display: inline-block;
  color: #e6e6e4;
  text-decoration: none;
  margin-right: 60px;
  margin-left: 60px;
  transition: all 0.3s ease;
}

/* transition when pointer over nav a*/
nav a:hover {
  transform: scale(1.2);
  text-shadow: 0px 0px 4px #e6e6e4;
}

/* our-menu section */
#our-menu,
#about-us,
#contact-us,
footer {
  /* border: 2px solid #000; */
  width: 80%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
#our-menu h2,
#about-us h2,
#contact-us h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2em;
  margin: 20px 0;
}

/* menu-lists */
.menu-lists {
  /* border: 1px solid red; */
  /* height: 550px; */
  /* position: relative; */
}

.menu-lists h3 {
  margin: 20px 0;
}

/* cards */
.card-container {
  /* border: 1px solid green; */
  padding: 20px;
  display: flex;
  gap: 2px;
  flex-direction: row;
  justify-content: space-evenly;
  /* width: 1012px;
  left: 9%;
  position: absolute; */
}
.card {
  border: 2px solid #49281a;
  width: 250px;
  /* background-color: #f0e2c5; */
  padding: 20px;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  /* delay  */
  transition: all 1.07s ease 0s;
}

/* caption */
.caption {
  position: absolute;
  left: 0;
  top: -100%;
  width: 250px;
  padding: 10px;
  border-radius: 0 9px 9px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  color: #e6e6e4;
  text-align: center;
  /* delay */
  transition: all 1.3s ease 0s;
}

/*transition mouse pointer over the card*/
.card:hover {
  transform: scale(1.05);
}
.card:hover .caption {
  top: 0;
  z-index: 2;
}

/* .card-img-top */
.card-img-top {
  /* overflow: hidden; */
  border: 2px solid #49281a;
  max-width: 100%;
  max-height: 80%;
  border-radius: 9px;
  z-index: 1;
}

/*transition mouse pointer over photo */
/* .card-img-top:hover {
  transform: scale(1.15);
  z-index: 1;
} */

.card-body {
  text-align: center;
}
.card-title {
  padding: 15px 0;
}
.card-text {
  line-height: 1.5;
}
.price {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
}
.btn-order {
  background-color: #49281a;
  color: #f0e2c5;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 9px;
  transition: all 0.3s linear;
}
/*transition when mouse pointer over btn */
.btn-order:hover {
  transform: scale(1.05);
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #e67e00;
}

/* about-us section */
#about-us p,
#contact-us p {
  font-family: "Lato";
  text-align: justify;
  line-height: 1.5em;
  padding: 10px 0;
}

/* contact-us section */
#contact-us form {
  /* border: 2px solid #000; */
  width: 80%;
  margin: 20px auto;
}

form div {
  /* border: 1px solid #000; */
  padding: 10px 0;
  text-transform: capitalize;
}
.form-label {
  display: inline-block;
  width: 150px;
  text-align: justify;
  margin-right: 20px;
}
.form-control {
  background-color: #fbf8f6;
  width: 350px;
  border: none;
  outline: none;
  border-bottom: 1px dotted #49281a;
}
.btn-send {
  /* display: inline-block; */
  margin-left: 170px;
  width: 150px;
  height: 40px;
  background-color: #49281a;
  color: #fbf8f6;
  border: none;
  border-radius: 9px;
  transition: all 0.3s ease;
}
/*transition when mouse pointer over btn */
.btn-send:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #e67e00; /* slightly brighter/darker */
}

/* footer section */
footer {
  width: 100%;
  text-align: center;
  padding: 140px 0 50px 0;
  background-image: url(images/Untitled\ design5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -60%;
}

/* icons */
footer a {
  color: #49281a;
  font-size: 1.6rem;
  padding: 7px;
}

/* up arrow button */
.bi-arrow-up-circle-fill {
  display: inline-block;
  font-size: 3.5rem;
  position: fixed;
  right: 20px;
  bottom: 15px;
  transition: all 0.5s ease;

  /* animation */
  animation: animated-btn 2s ease 0s 1;
}
/*transition when mouse pointer over btn */
.bi-arrow-up-circle-fill:hover {
  transform: translateY(-5px);
  color: #e67e00; /* slightly brighter/darker */
}

/* h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 3em;
}
p,
a {
  font-family: "Lato", sans-serif;
} */

/* * = for the whole page
# = for ID
. = for class
 */
